//CUS002 Formularios de registro, CUS003 Validar duplicidad y CUS004 Corregir
.upperContainer
  .container
    form.form-horizontal(role='form', (ngSubmit)='registrarReparto()')
      .row([hidden]='submitted')
        ul.nav.nav-pills
          li.principalMenuItem
            a((click)='pestana="geoDatGen"') Georeferenciaci&oacute;n y Datos Generales del proceso
          li.principalMenuItem
            a((click)='pestana="daPrePro"') Datos Cualitativos, Pretenciones y Etapas Procesales
          li.principalMenuItem
            a((click)='pestana="EstValida"') Estado de Validaci&oacute;n de los Proceos Duplicados
      .tab-content
        #geoDatGen.tab-pane.fade.in([class.active]='pestana==="geoDatGen"')
          fieldset
            legend Consulta de procesos / Validar duplicidad
            .form-group
              label.control-label.col-sm-4.required(for='digitos') 23 d&iacute;gitos del proceso / N&uacute;mero de proceso rama judicial
              .col-sm-6
                input#digitos.form-control(maxlength='23', number, required,
                placeholder='Digite los 23 dígitos del proceso / Número de proceso rama judicial',
                (change)='proceso.prj_23digitos=$event.target.value;procesoDupService.getAllByProcesoNumero($event.target.value)')
            .form-group
              label.control-label.col-sm-4.required(for='id_demandante') CC demandante / identificaci&oacute;n del demandante
              .col-sm-6
                input#id_demandante.form-control.number(maxlength='25', number, required, [disabled]='(procesosDup$ | async) === null',
                placeholder='Digite el documento del demandante / identificación demandante',
                (change)='proceso.CC_Dem=$event.target.value;"(procesosDup$ | async).length > 0 "?procesoDupService.getAllByDocumento($event.target.value):null')
            .form-group
              label.control-label.col-sm-4.required(for='nombre_demandante') Nombre del demandante
              .col-sm-6
                input#nombre_demandante.form-control(maxlength='300', not-number, required
                placeholder='Digite el nombre del demandante', [disabled]='(procesosDup$ | async) === null',
                (change)='proceso.Nombre_Dem=$event.target.value;"(procesosDup$ | async).length > 0 "?procesoDupService.getAllByNombre($event.target.value):null')
            //.row
              .col-xs-11
                .btn.btn-primary.btn-md.pull-right Validar duplicidad
            //.well.well-sm
            .well.well-sm(*ngIf='(procesosDup$ | async)?.length > 0')
              .table-responsive
                table.table.table-condensed.table-hover.table-curved
                  caption.text-left Procesos judiciales asociados / duplicados
                  thead.primary-emphasis
                    tr
                      th Notificaci&oacute;n
                      th 23 d&iacute;gitos
                      th Bizagi
                      th Tipo proceso
                      th Demandante
                      th C&eacute;dula
                      th Nombre despacho
                      th Estado
                      th.text-center Corregir
                  tbody
                    tr(*ngFor='#procesoDup of (procesosDup$ | async); #i=index')
                      td
                        label(*ngIf='procesoDupSelect != i') {{procesoDup.prj_fechanotifica}}
                        input.form-control.input-sm([value]='procesoDup.prj_fechanotifica',
                        *ngIf='procesoDupSelect == i',
                        (change)='procesoDup.prj_fechanotifica=$event.target.value')
                      td
                        label(*ngIf='procesoDupSelect != i') {{procesoDup.prj_23digitosa}}
                        input.form-control.input-sm([value]='procesoDup.prj_23digitosa',
                        *ngIf='procesoDupSelect == i',
                        (change)='procesoDup.prj_23digitosa=$event.target.value')
                      td
                        label(*ngIf='procesoDupSelect != i') {{procesoDup.prj_numerobizagi}}
                        input.form-control.input-sm([value]='procesoDup.prj_numerobizagi',
                        *ngIf='procesoDupSelect == i',
                        (change)='procesoDup.prj_numerobizagi=$event.target.value')
                      td
                        label(*ngIf='procesoDupSelect != i') {{procesoDup.tip_id}}
                        input.form-control.input-sm([value]='procesoDup.tip_id',
                        *ngIf='procesoDupSelect == i',
                        (change)='procesoDup.tip_id=$event.target.value')
                      td
                        label(*ngIf='procesoDupSelect != i') {{procesoDup.per_Nombre}}
                        input.form-control.input-sm([value]='procesoDup.per_Nombre',
                        *ngIf='procesoDupSelect == i',
                        (change)='procesoDup.per_Nombre=$event.target.value')
                      td
                        label(*ngIf='procesoDupSelect != i') {{procesoDup.pdu_fechaverificacion}}
                        input.form-control.input-sm([value]='procesoDup.af_numerodocumento',
                        *ngIf='procesoDupSelect == i',
                        (change)='procesoDup.af_numerodocumento=$event.target.value')
                      td
                        label(*ngIf='procesoDupSelect != i') {{procesoDup.pdu_loginverifica}}
                        input.form-control.input-sm([value]='procesoDup.dei_id',
                        *ngIf='procesoDupSelect == i',
                        (change)='procesoDup.dei_id=$event.target.value')
                      td
                        label(*ngIf='procesoDupSelect != i') TODO: estado
                        select#estado_proceso_dup.form-control(
                        *ngIf='procesoDupSelect == i',
                        (change)='proceso.estadoProceso.esp_id=$event.target.value')
                          option(value='') Seleccione es estado del proceso
                          option(*ngFor='#estadoProceso of estadosProceso$ | async',
                          [value]='estadoProceso.esp_id') {{estadoProceso.esp_descripcion}}
                      td.text-center
                        i.glyphicon.glyphicon-pencil.btn-sm-primary(title='Corregir',
                        *ngIf='procesoDupSelect != i',
                        (click)='procesoDupSelect = i')
                        i.glyphicon.glyphicon-repeat.btn-sm-danger.flip-glyphicon(
                        *ngIf='procesoDupSelect == i',
                        (click)='procesoDupSelect = null')
                        i.glyphicon.glyphicon-floppy-disk.btn-sm-success(
                        *ngIf='procesoDupSelect == i',
                        (click)='procesoDupService.update(procesoDup); procesoDupSelect = null')
          fieldset
            legend Georeferenciaci&oacute;n y datos generales del proceso
            .form-group
              label.control-label.col-sm-4.required(for='proceso_id') ID proceso
              .col-sm-6
                input#proceso_id.form-control.number(number, required,
                placeholder='Digite el ID del proceso',
                (change)='proceso.prj_id$event.target.value')
            .form-group
              label.control-label.col-sm-4.required(for='litigar_id') ID litigar
              .col-sm-6
                input#litigar_id.form-control(required,
                placeholder='Digite el ID a litigar',
                (change)='proceso.prj_litigacion=$event.target.value')
            .form-group
              label.control-label.col-sm-4.required(for='fecha_notificacion') Fecha de notificaci&oacute;n
              .col-sm-6
                input#fecha_notificacion.form-control(required, placeholder='aaaa-mm-dd',
                pattern='(?:19|20)[0-9]{2}-(?:(?:0[1-9]|1[0-2])-(?:0[1-9]|1[0-9]|2[0-9])|(?:(?!02)(?:0[1-9]|1[0-2])-(?:30))|(?:(?:0[13578]|1[02])-31))',
                (change)='proceso.prj_fechanotifica=$event.target.value')
            .form-group
              label.control-label.col-sm-4.required(for='bizagi') No. Bizagi - caso defensa judicial
              .col-sm-6
                input#bizagi.form-control.number(maxlength='12', required,
                placeholder='XXXX_XXXXX',
                (change)='proceso.prj_numerobizagi=$event.target.value')
            .form-group
              label.control-label.col-sm-4.required(for='juzgado') No. de juzgado
              .col-sm-6
                input#juzgado.form-control.number(maxlength='10', required, not-number,
                placeholder='Escriba el número del juzgado',
                (change)='proceso.juzgado.prj_numerojuzgado=$event.target.value')
            .form-group
              label.control-label.col-sm-4.required(for='tipo_juzgado') Tipo de juzgado
              .col-sm-6
                select#tipo_juzgado.form-control(required,[disabled],
                (change)='proceso.juzgado.tij_id=$event.target.value')
                  option(value='') Seleccione el tipo de juzgado
                  option(*ngFor='#juzgado of juzgados$ | async',
                  [value]='juzgado.tij_id') {{juzgado.tij_descripcion}}
            .form-group
              label.control-label.col-sm-4.required(for='despacho_inicial') Nombre de despacho inicial
              .col-sm-6
                select#despacho_inicial.form-control(required,
                (change)='proceso.despacho.dei_id=$event.target.value')
                  option(value='') Seleccione el nombre del despacho inicial
                  option(*ngFor='#despacho of despachos$ | async',
                  [value]='despacho.dei_id') {{despacho.dei_descripcion}}
            .form-group
              label.control-label.col-sm-4.required(for='departamento_juzgado') Departamento juzgado
              .col-sm-6
                select#departamento_juzgado.form-control(required,
                (change)='proceso.juzgado.depto.dpt_id=$event.target.value;municipioService.loadAllByDepto($event.target.value)')
                  option(value='') Seleccione el departamento del juzgado
                  option(*ngFor='#departamento of departamentos$ | async',
                  [value]='departamento.dpt_id') {{departamento.dpt_descripcion}}
            .form-group
              label.control-label.col-sm-4.required(for='ciudad_juzgado') Ciudad de juzgado / Lugar de los hechos
              .col-sm-6
                select#ciudad_juzgado.form-control(required,
                (change)='proceso.juzgado.ciudad.mpi_id=$event.target.value')
                  option(value='') Seleccione la ciudad del juzgado / Lugar de los hechos
                  option(*ngFor='#municipio of municipios$ | async',
                  [value]='municipio.mpi_id') {{municipio.mpi_descripcion}}
            .form-group
              label.control-label.col-sm-4.required(for='radicado_ram_jud') Radicado rama judicial / N&uacute;mero de radicaci&oacute;n
              .col-sm-6
                input#radicado_ram_jud.form-control(maxlength='9', required,[disabled],
                placeholder='Digite el radicado de la rama judicial / Número de radicación ej. 2015_0003',
                (change)='proceso.prj_numeroradica=$event.target.value')
            .form-group
              label.control-label.col-sm-4.required(for='tipo_proceso') Tipo de proceso
              .col-sm-6
                select#tipo_proceso.form-control(required,[disabled],
                (change)='proceso.tipo.tip_id=$event.target.value')
                  option(value='') Seleccione el tipo de proceso
                  option(*ngFor='#tipoProceso of tipoProcesos$ | async',
                  [value]='tipoProceso.tip_id') {{tipoProceso.tip_descripcion}}
            .form-group
              label.control-label.col-sm-4.required(for='clas_procesos') Clasificaci&oacute;n procesos /jurisdicci&oacute;n - acci&oacute;n
              .col-sm-6
                input#clas_procesos.form-control(maxlength='50', required,[disabled],
                placeholder='Digite clasificación procesos /jurisdicción - acción',
                (change)='proceso.prj_clasificacionps=$event.target.value')
            .form-group
              label.control-label.col-sm-4.required(for='id_demandado') Demandado
              .col-sm-6
                select#id_demandado.form-control(required,[disabled],
                placeholder='Digite el nombre del demandado',
                (change)='proceso.prj_demandado=$event.target.value')
                  option(value='1') Colpensiones
                  option(value='2') ISS
                  option(value='3') Otro
            .form-group
              label.control-label.col-sm-4(for='nombre_apoderado') Nombre apoderado actual
              .col-sm-6
                input#nombre_apoderado.form-control(maxlength='300', not-number,
                placeholder='Digite el nombre del apoderado actual',[disabled],
                (change)='proceso.apoderado.nombre=$event.target.value')
            .form-group
              label.control-label.col-sm-4.required(for='cedula_apoderado') C&eacute;dula apoderado Colpensiones
              .col-sm-6
                input#cedula_apoderado.form-control.number(maxlength="25", number, required,
                placeholder='Digite la cédula del apoderado Colpensiones',[disabled],
                (change)='proceso.apoderado.cedula=$event.target.value')
            .form-group
              label.control-label.col-sm-4.required(for='tarjeta_profesional') Tarjeta profesional apoderado
              .col-sm-6
                input#tarjeta_profesional.form-control(maxlength='25', required,
                placeholder='Digite la tarjeta profesional del apoderado',[disabled],
                (change)='proceso.apoderado.tarjeta=$event.target.value')
            .form-group
              label.control-label.col-sm-4.required(for='clasificacion_tramite') Clasificaci&oacute;n tr&aacute;mites
              .col-sm-6
                select#clasificacion_tramite.form-control(required,[disabled],
                (change)='proceso.clasTramites.clt_id=$event.target.value;tipoInformativoService.loadAllByClas($event.target.value)')
                  option(value='') Seleccione la clasificaci&oacute;n de tr&aacute;mites
                  option(*ngFor='#clasificacion of clasificaciones$ | async',
                  [value]='clasificacion.clt_id') {{clasificacion.clt_descripcion}}
            .form-group
              label.control-label.col-sm-4.required(for='tipo_informativo') Tipo informativo
              .col-sm-6
                select#tipo_informativo.form-control(required,[disabled],
                (change)='proceso.tipoInf.tii_id=$event.target.value')
                  option(value='') Seleccione el tipo de informativo
                  option(*ngFor='#tipoInformativo of tipoInformativos$ | async',
                  [value]='tipoInformativo.tii_id') {{tipoInformativo.tii_descripcion}}
            .form-group
              label.control-label.col-sm-4.required(for='relacion_informativo') Relaci&oacute;n de informativo
              .col-sm-6
                input#relacion_informativo.form-control(maxlength='300', required,
                placeholder='Digite la relacion de informativo', [disabled],
                (change)='proceso.prj_relacioninforma=$event.target.value')
            .form-group
              label.control-label.col-sm-4.required(for='regional_id') Regional
              .col-sm-6
                select#regional_id.form-control(required,[disabled],
                (change)='proceso.regional.reg_id=$event.target.value')
                  option(value='') Seleccione la regional
                  option(*ngFor='#regional of regionales$ | async',
                  [value]='regional.reg_id') {{regional.reg_descripcion}}
            .form-group
              label.control-label.col-sm-4.required(for='ano_radicacion') A&ntilde;o de radicaci&oacute;n
              .col-sm-6
                input#ano_radicacion.form-control.number(maxlength='4', number, required,
                placeholder='Digite el año de radicación',[disabled],
                (change)='proceso.prj_anoradicacion=$event.target.value')
            .form-group
              label.control-label.col-sm-4.required(for='tipo_unidad') Tipo de unidad
              .col-sm-6
                select#tipo_unidad.form-control(required,[disabled],
                (change)='proceso.tipoUnidad.tiu_id=$event.target.value')
                  option(value='') Seleccione el tipo de unidad
                  option(*ngFor='#tipoUnidad of tiposUnidad$ | async',
                  [value]='tipoUnidad.tiu_id') {{tipoUnidad.tiu_descripcion}}
            .form-group
              label.control-label.col-sm-4.required(for='tipo_apoderado') Tipo de apoderado
              .col-sm-6
                select#tipo_apoderado.form-control(required,maxlength='10',[disabled],
                (change)='proceso.apoderado.tia_id=$event.target.value')
                  option(value='') Seleccione el tipo de apoderado
                  option(*ngFor='#apoderado of tiposApoderado$ | async',
                  [value]='apoderado.tia_id') {{apoderado.tia_descripcion}}
        #daPrePro.tab-pane.fade.in([class.active]='pestana==="daPrePro"')
          fieldset
            legend Datos cualitativos, pretensiones y etapas procesales
            .form-group
              label.control-label.col-sm-4.required(for='hechos_proceso') Hechos del proceso
              .col-sm-6
                .textarea#hechos_proceso
                  textarea(cols='73', rows='5', maxlength='300', required,[disabled],
                  (change)='proceso.prj_hechosproceso=$event.target.value')
            .form-group
              label.control-label.col-sm-4(
              for='propietario_acto_admin') &iquest;De qui&eacute;n es el acto administrativo demandado?
              .col-sm-6
                select#propietario_acto_admin.form-control([disabled],
                (change)='proceso.actoAdmin.ead_id=$event.target.value')
                  option(value='') Seleccione el propietario del acto administrativo demandado
                  option(*ngFor='#actoAdmin of actosAdmin$ | async',
                  [value]='actoAdmin.ead_id') {{actoAdmin.ead_descripcion}}
            .form-group
              label.control-label.col-sm-4(for='numero_resolucion') N&uacute;mero de la resoluci&oacute;n
              .col-sm-6
                input#numero_resolucion.form-control(maxlength='100',
                placeholder='Digite el número de la resolución',[disabled],
                (change)='proceso.prj_numresolucion=$event.target.value')
            .form-group
              label.control-label.col-sm-4(for='causa_proceso') Causa del proceso / Fondo que cubre el riesgo
              .col-sm-6
                select#causa_proceso.form-control([disabled],
                (change)='proceso.causa.cap_id=$event.target.value;pretensionService.loadAllByCausa($event.target.value)')
                  option(value='') Seleccione la causa del proceso / Fondo que cubre el riesgo
                  option(*ngFor='#causa of causas$ | async', [value]='causa.cap_id') {{causa.cap_descripcion}}
            .form-group
              label.control-label.col-sm-4(for='modalidad_pretencion') Modalidad de pretensi&oacute;n
              .col-sm-6
                select#modalidad_pretencion.form-control([disabled],
                (change)='proceso.modPret.mop_id=$event.target.value')
                  option(value='') Seleccione la modalidad de pretensi&oacute;n
                  option(*ngFor='#modPretension of modPretensiones$ | async',
                  [value]='modPretension.mop_id') {{modPretension.mop_descripcion}}
            .form-group
              label.control-label.col-sm-4(
              for='pretencion_principal') Pretensi&oacute;n principal
              .col-sm-6
                select#pretencion_principal.form-control([disabled],
                (change)='proceso.pretension.prp_id=$event.target.value;clasePretensionService.loadAllByPreten($event.target.value)')
                  option(value='') Seleccione la pretensi&oacute;n principal
                  option(*ngFor='#pretension of pretensiones$ | async',
                  [value]='pretension.prp_id') {{pretension.prp_descripcion}}
            .form-group
              label.control-label.col-sm-4(for='clase_pretencion') Clase de pretensi&oacute;n
              .col-sm-6
                select#clase_pretencion.form-control([disabled],
                (change)='proceso.clasePret.clp_id=$event.target.value')
                  option(value='') Seleccione la clase de pretensi&oacute;n
                  option(*ngFor='#clasePretension of clasesPretensiones$ | async',
                  [value]='clasePretension.clp_id') {{clasePretension.clp_descripcio}}
            .form-group
              label.control-label.col-sm-4(
              for='fecha_admision') Fecha de admisi&oacute;n de la demanda
              .col-sm-6
                input#fecha_admision.form-control(placeholder='aaaa-mm-dd',[disabled],
                pattern='(?:19|20)[0-9]{2}-(?:(?:0[1-9]|1[0-2])-(?:0[1-9]|1[0-9]|2[0-9])|(?:(?!02)(?:0[1-9]|1[0-2])-(?:30))|(?:(?:0[13578]|1[02])-31))',
                (change)='proceso.prj_fechaadminisiondemanda=$event.target.value')
            .form-group
              label.control-label.col-sm-4(
              for='cuantia_estimada') Cuant&iacute;a estimada en el proceso
              .col-sm-6
                input#cuantia_estimada.form-control.number(maxlength='10', number,
                placeholder='Digite la cuantía estimada en el proceso',[disabled],
                (change)='proceso.prj_cuantiaestimada=$event.target.value')
            .form-group
              label.control-label.col-sm-4.required(for='nombre_afiliado_causante') Nombre afiliado causante
              .col-sm-6
                input#nombre_afiliado_causante.form-control(maxlength='300', not-number, required
                placeholder='Digite el Nombre afiliado causante',[disabled],
                (change)='proceso.afiliado.NomBenef=$event.target.value')
            .form-group
              label.control-label.col-sm-4.required(
              for='identificacion_afiliado_causante') CC afiliado causante/ identificaci&oacute;n
              .col-sm-6
                input#identificacion_afiliado_causante.form-control(maxlength="25", number, required
                placeholder='Digite la CC afiliado causante/ identificación',[disabled],
                (change)='proceso.afiliado.CCBenf=$event.target.value')
            .dashed-group
              .form-group(*ngFor='#beneficiario of proceso.beneficiarios; #i=index')
                .form-group
                  label.control-label.col-sm-4.required Nombre beneficiario {{i + 1}}
                  .col-sm-6
                    input.form-control(maxlength='300', not-number, required,[disabled],
                    placeholder='Digite el nombre del beneficiario {{i + 1}}',
                    (change)='beneficiario.NomBenef=$event.target.value')
                .form-group
                  label.control-label.col-sm-4.required C&eacute;dula ciudadan&eacute;a beneficiario {{i + 1}}
                  .col-sm-6
                    input.form-control(maxlength='25', number, required,[disabled],
                    placeholder='Digite la cédula ciudadanía beneficiario {{i + 1}}',
                    (change)='beneficiario.CCBenf=$event.target.value')
              .form-group
                label.control-label.col-sm-4
                .col-sm-6
                  .btn-group.pull-right
                    a.btn.btn-danger.btn-xs(
                    *ngIf='proceso.beneficiarios.length > 1',
                    (click)='removeBeneficiario()') - beneficiario
                    a.btn.btn-success.btn-xs(
                    *ngIf='proceso.beneficiarios.length < 5',
                    (click)='addBeneficiario()') + beneficiario
            .form-group
              label.control-label.col-sm-4(
              for='cantidad_demandantes') Cantidad demandantes
              .col-sm-6
                input#cantidad_demandantes.form-control(maxlength='2', number,
                placeholder='Digite la cantidad de demandantes', [disabled],
                (change)='proceso.prj_cantidaddemandante=$event.target.value')
            .form-group
              label.control-label.col-sm-4(
              for='entidad_publica') &iquest;Entre los demandantes hay entidades p&uacute;blicas?
              .col-sm-6
                select#entidad_publica.form-control([disabled],
                (change)='proceso.prj_entidadpublica=$event.target.value')
                  option(value='') Seleccione una respuesta
                  option(value='si') S&iacute;
                  option(value='no') No
            .form-group
              label.control-label.col-sm-4(
              for='apoderado_contraparte_nombre') Nombre apoderado contraparte
              .col-sm-6
                input#apoderado_contraparte_nombre.form-control(maxlength='300', not-number,
                placeholder='Digite el nombre apoderado contraparte', [disabled],
                (change)='proceso.apodeContra.nombre=$event.target.value')
            .form-group
              label.control-label.col-sm-4(
              for='apoderado_contraparte_identificacion') Identificaci&oacute;n apoderado contraparte
              .col-sm-6
                input#apoderado_contraparte_identificacion.form-control(maxlength='25', number,
                placeholder='Digite la Identificación apoderado contraparte', [disabled],
                (change)='proceso.apodeContra.cedula=$event.target.value')
        #EstValida.tab-pane.fade.in([class.active]='pestana==="EstValida"')
          .form-group
            label.col-sm-2.control-label(for='estado_proceso') Estado del Proceso:
            .col-sm-10
              p#estado_proceso.form-control-static {{'proceso.estadoProceso.esp_descripcio'}}
          .form-group
            label.col-sm-2.control-label(for='codigo_proceso_dup') C&oacute;digo Proceso Duplicado:
            .col-sm-10
              p#codigo_proceso_dup.form-control-static {{(procesosDup$ | async)?.length > 0? '': 'No Aplica'}}
      .col-xs-12
        .btn-group(role='group').pull-right
          input.btn.btn-default.btn-md(type='reset', value='Limpiar',
          *ngIf = 'pestana==="geoDatGen"||pestana==="daPrePro"')
          a.btn.btn-success.btn-md((click)='pestana="daPrePro"', *ngIf='pestana==="geoDatGen"') Continuar
          a.btn.btn-success.btn-md((click)='pestana=(pestana==="EstValida"?"daPrePro":"geoDatGen")',
          *ngIf='pestana==="daPrePro"|| pestana==="EstValida"') Volver
          input.btn.btn-primary.btn-md([disabled], type='submit', value='Guardar',
          *ngIf = 'pestana==="geoDatGen"||pestana==="daPrePro"')
